<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}
  <title>
    {{section.title | default(value=page.title) | default(value="")}}
    &mdash; httpcod.es</title>
  {% endblock %}
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/style.css">
  {% block description %}
  <meta name="description" content="HTTP Status Code directory, with definitions, details and helpful code references.">
  {% endblock %}
</head>
<body>
{% block contents %}{% endblock contents %}
</body>
</html>
